<.header>
  Edit <%= contract.schema.human_singular %> <%%= @<%= contract.schema.singular %>.id %>
  <:subtitle>Use this form to manage <%= contract.schema.singular %> records in your database.</:subtitle>
</.header>

<.<%= contract.schema.singular %>_form changeset={@changeset} action={~p"<%= contract.schema.route_prefix %>/#{@<%= contract.schema.singular %>}"} />

<.back navigate={~p"<%= contract.schema.route_prefix %>"}>Back to <%= contract.schema.plural %></.back>
